.description-two {
  font-family: Inter;
  color: rgb(0, 0, 0, 0.7);
  font-weight: 700;
  font-size: 32px;
  line-height: 38.73px;
  text-align: center;
  width: 960px;
  margin-top: 70px;
  }

.body-one {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: rgb(233, 233, 233);
    align-items: center;
    margin-top: 70px;
}
  

.images {
  display: flex;
  gap: 90px;
  margin-top: 90px;
  margin-bottom: 80px;
}

.business-image:hover {
  cursor: pointer;
}



